<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Watchlist-App</title>
</head>
<body>
<div class="container">
    <hr>
    <h3>Watchlist-Application</h3>
    <hr>

    <p class="h4 mb-4">Adding a new Watchlist</p>

    <a th:href="@{/watchlist/listAll}"
       class="btn btn-secondary btn-sm">
        Home
    </a>
    <hr>

    <form action="#" th:action="@{/watchlist/addingWatchListToUser(watchList=${watchList})}"
          th:object="${watchList}" method="post">

        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="col-xs-15">
                <!-- Check for login error -->
                <div th:if="${param.error}">

                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                        This name is already used
                    </div>

                </div>

            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}"
               class="form-control mb-4 w-25" placeholder="Name">
        <input type="hidden" th:field="*{movies}"/>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
</div>
</body>
</html>