<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Watchlist-App</title>
</head>

<body>

<div class="container">

	<hr>
	<h3>Watchlist-Application</h3>
		<a th:href="@{/logout}" class="btn btn-secondary btn-sm">Logout</a>
	<hr>
	<div sec:authorize="hasRole('ROLE_ADMIN')">

	<a th:href="@{/admin/showAdminPage}"
	   class="btn btn-warning btn-sm">
		Admin Page
	</a>
		<hr>
	</div>
	<a>Willkommen </a>
	<span sec:authentication="name"></span>
	<span sec:authentication="principal.authorities"></span>
	<!--<span sec:authentication="principal.authorities"></span>-->
	<hr>
	<a th:href="@{/watchlist/showWatchListAddPage}"
		class="btn btn-secondary btn-sm">
		Add Watchlist
	</a>
	<a th:href="@{/watchlist/showListOfAllMovies}"
	   class="btn btn-secondary btn-sm">
		Show all movie
	</a>
	<a th:href="@{/watchlist/showActorList}"
	   class="btn btn-secondary btn-sm">
		Show all Actors
	</a>
	<a th:href="@{/watchlist/showRegisseurList}"
	   class="btn btn-secondary btn-sm">
		Show all Regisseurs
	</a>
	<hr>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempWatchList : ${watchlists}">
			
				<td th:text="${tempWatchList.name}"></td>

				<td>
					<a th:href="@{/watchlist/showSingleWatchList(watchlistId=${tempWatchList.id})}"
					class="btn btn-info btn-sm">Edit</a>
					<a th:href="@{/watchlist/deleteWatchList(watchListId=${tempWatchList.id})}"
					   class="btn btn-danger btn-sm"
						onclick="if(!(confirm('Are you sure you want to delete this watchlist?')))return false" >
						Delete</a>
				</td>
			</tr>
		</tbody>		
	</table>

	<form action="#" th:action="@{/deleteAccount}" method=get>
		<a class="btn btn-warning btn-sm">Delete Account</a>
	</form>

</div>


	
</body>
</html>



