<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Watchlist-App</title>
</head>

<body>

<div class="container">

    <hr>
    <h3>Watchlist-Application</h3>
    <hr>
    <a th:href="@{/watchlist/commentWrite(movieId=${movie.id})}"
           class="btn btn-primary btn-sm mb-3">
            Write a comment
    </a>
    <a th:href="@{/watchlist/addMovieToWatchListIndep(movieId=${movie.id})}"
       class="btn btn-primary btn-sm mb-3">
        Add to watchlist
    </a>
    <a th:href="@{/watchlist/listAllMovies}"
       class="btn btn-primary btn-sm mb-3">
        Show all movies
    </a>
    <a th:href="@{/watchlist/listAll}"
       class="btn btn-primary btn-sm mb-3">
        Home
    </a>



    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Episodes</th>
            <th>Age Restriction</th>
            <th>Regisseur</th>
            <th>Reviews</th>
            <th>Actors</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempWatchList : ${watchlists}">

            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />
            <td th:text="${tempWatchList.name}" />

        </tr>
        </tbody>
    </table>
    <hr>



</div>

</body>
</html>



